{% extends "frontier/base.html" %}

{% block content %}

  
  <h1>Asset Allocation</h1>

  <h3>{{ allocation.name }}</h3>
    <p>{{ allocation.aa_1 }}</p>
    <p>{{ allocation.aa_2 }}</p>
    <p>{{ allocation.aa_3 }}</p>
    <p>{{ allocation.aa_4 }}</p>
    <p>{{ allocation.aa_5 }}</p>
    <p>{{ allocation.aa_6 }}</p>
    <p>{{ allocation.aa_7 }}</p>
    <p>{{ allocation.aa_8 }}</p>
    <p>{{ allocation.aa_9 }}</p>
    <p>{{ allocation.aa_10 }}</p>

    <div id="chartContainer" style="height: 300px; width: 300px;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


<script>
var aa_id = window.location.pathname.replace(/\D/g,'')
var endpoint = `http://localhost:8000/frontier/api/chart/data/?aa_id=${aa_id}`
var scatter_points = [];

dataPoints = fetch(endpoint)
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    makeChart(data);
  });


// function parseDataPoints(data) {
//   for (var i = data.data.returns.length; i < data.data.volatility.length; i++)
//     debugger;
//     scatter_points.push({
//       x: data.data.volatility[i],
//       y: data.data.returns[i]
//   });
// };


function parseDataPoints(data) {
  i = 0
  while (i < data.data.returns.length) {
    scatter_points.push({
      x: data.data.volatility[i] * 100,
      y: data.data.returns[i] * 100
    });
    i += 1
  }
};


function makeChart(data) {
  parseDataPoints(data)
  
  var chart = new CanvasJS.Chart("chartContainer", {
    animationEnabled: true,
    zoomEnabled: true,
    title:{
      text: "Efficient Frontier"
    },
    axisX: {
      title:"Volatility",
      minimum: 0.00,
      maximum: 25,
      suffix: "%",
		  valueFormatString: "#.0",
      includeZero: false, 
		  //interval: .01,
    },
    axisY:{
      title: "Return",
      minimum: 0.00,
      maximum: 10,
      suffix: "%",
		  valueFormatString: "#.0",
      includeZero: false, 
		  //interval: .01,
    },
    data: [{
      type: "scatter",
      toolTipContent: "<b>Area: </b>{x} sq.ft<br/><b>Price: </b>${y}k",
      dataPoints: scatter_points
    }]
  });
  chart.render();
  
  }
</script>


{% endblock content %}